@model ProiectDaw.Models.Review


<div class="panel-heading">@Model.rating</div>
<div class="panel-body">
    Continut produs: <strong>@Model.review<strong>
    <br />
    <a class="btn btn-sm btn-success full-width" href="/Review/Delete/@Model.Id">Sterge</a>
    
   
   
